/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  /* Header */
  header {
    background-image: url('./images/Most\ detailed\ Hubble\ image\ ever\ captures\ 265\,000\ galaxies\ across\ the\ cosmos.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  header h1 {
    font-size: 3em;
    margin: 0;
  }
  
  header p {
    font-size: 1.2em;
    margin: 20px 0 0;
  }
  
  /* Sections */
  section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .special-offers, .shop-list, .about-content, .map-content {
    text-align: center;
  }
  
  .special-offers .offer, .shop-list .shop, .about-gallery img {
    display: inline-block;
    margin: 10px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }
  
  .special-offers .offer:hover, .shop-list .shop:hover {
    transform: scale(1.05);
  }
  
  .special-offers img, .about-gallery img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .shop img, .special-offers img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h2 {
    color: #000000;
    font-size: 2em;
    margin-top: 0;
  }
  
  /* Gallery */
  .about-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .about-gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease;
  }
  
  .movie img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .movie:hover {
    transform: scale(1.05);
  }
  
  .movie-details {
    text-align: center;
  }
  
  .movie-details img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .movie-details p, .movie-details ul {
    text-align: left;
    max-width: 800px;
    margin: 0 auto 20px auto;
  }
  
  .movie-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .movie-details ul li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
 
  
  .contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact-info, .contact-form {
    flex: 1 1 45%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
  }
  
  .contact-info img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin: 10px 0 5px;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  
  
  